@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');




$green: #27300f;
$orange:#d26a22;
$white:#ffffff;


$font-jost: 'Jost', sans-serif;
$font-cormorant: 'Cormorant', serif;

html{
    font-size: 10px;
}

body{
    font-size: 1.8rem;
    font-family: $font-jost;
    color: $green;
}

.header{
    max-width: 1440px;
    margin: 0 auto 6rem;
    padding: 4rem 15px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    &__nav {
        display: flex;
        list-style-type: none;/*убираем точки*/
        margin: 0;/* обнуляем отступы*/
        padding-left: 0;/* убераем так же отсуп*/
        gap: 4.8rem;
    }
    &__link {
        color: $green;
        text-decoration: none;/*убрали подчеркивания ссылок*/
        &:hover{/* вложенность для изменения цвета при наведении на ссылки*/
            color: $orange;
            }
    }
    &__tel {
        color: $green;
        font-weight: 500;
        text-decoration: none;
        &:hover{/* вложенность для изменения цвета при наведении на ссылки*/
            color: $orange;
            }
    }
    &__cart {
        display: block;
        width: 3.8rem;/*уменьшаем на два пикселя т.к есть обводка border*/
        height: 3.8rem;
        border-radius: 100%;
        background-color: $orange;
        background-image: url(../images/cart.svg);
        background-size: 1.7rem 1.5rem;/*задаем размер картинки*/
        background-position: center center;/*выставляем картинку по центру*/
        background-repeat: no-repeat;
        position: relative;
        border: 1px solid $orange;
        &:hover{
            background-color: $green;
            border: 1px solid $green;
            cursor: pointer;
            }
    }
    &__counter {
        font-size: .8rem;
        color: $white;
        position: absolute;
        right: 1rem;
        top: .6rem;
    }
}
.logo{
    display: block;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 12.3rem;
    height: 3.2rem;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.main{
    background-image: url(../images/main.png);
    background-size: cover;
    background-position-x: center;
    position: relative;
    padding-bottom: 18.7rem;
    &__item{
        margin-left: 12rem;
        max-width: 378px;
        margin-top: 6rem;
    }
    &__link{
        margin-top: 6rem;
    }
    &__flex{
        display: flex;
        justify-content: space-between;
        gap: 30px;
        align-items: center;
    }
    &__cover{
        flex-basis:763px;
        height: 763px;
        border: 1px solid rgba( $green, 0.4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    &__line{
        width: 658px;
        height: 658px;
        border: 1px solid rgba( $green, 0.4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    &__image{
        width: 100%;
        position: absolute;
        top: 40px;
        left: 40px;
    }
    &__btn{
        background-color: transparent;
        border: none;
        padding: 0;
        position: absolute;
        text-align: left;
        &:hover{
                &::before{
                    background-color: $orange;
                    box-shadow: 0 0 0 4px $white, 0 0 0 5px $orange;
            }
        }
        &::before{
            content: '';
            background-color: $green;
            width: 11px;
            height: 11px;
            box-shadow: 0 0 0 4px $white, 0 0 0 5px $green;
            border-radius: 100%;
            position: absolute;
        }
        &_1{
            top: 46px;
            left: 64px;
            &::before{
                bottom: 10px;
                right: -32px;
            }
        }
        &_2{
            top: 199px;
            right: -6px;
            &::before{
                bottom: 12px;
                right: 94px;
            }
        }
        &_3{
            bottom: -40px;
            right: 224px;
            &::before{
                bottom: 51px;
                right: 36px;
            }
           
        }
    }
    &__food{
        display: block;
        color: rgba($green, 0.8);
    }
    &__tomato{
        position: absolute;
        bottom: 115px;
        right: 133px;
        width: 11rem;
    }
    &__bob1{
        position: absolute;
        width: 69px;
        left: -32px;
        bottom: 262px;
    }
    &__bob2{
        position: absolute;
        width: 47px;
        left: 15px;
        bottom: 302px;
    }
    &__bob3{
        position: absolute;
        width: 66px;
        left: 55px;
        bottom: 250px;
    }
    &__cucember{
        position: absolute;
        width: 85px;
        left: 782px;
        top: -40px;
    }
    &__avocado{
        position: absolute;
        width: 194px;
        top: 52px;
        right: 15px;
    }
    &__pepper{
        position: absolute;
        width: 86px;
        top: 395px;
        left: 38px;
    }
}
.title{
    font-family: $font-cormorant;
    font-weight: 700;
    font-size: 8rem;
    margin: 0;
    &__span{
        font-style: italic;
    }
    &_block{
        .title__span{
            display: block;
        }
    }
}
.description{
    margin: 0;
    &_size-s{
        font-size: 1.8rem;
    }
}
.link{
    color: $white;
    text-transform: uppercase;
    padding: 2.5rem 4.2rem;
    background-color: $orange;
    box-shadow: 0px 1rem 1.1rem .2rem rgba(207, 92, 13, 0.2);
    text-decoration: none;
    border-radius: 3.8rem;
    display: inline-block;
}